* {
    font-family: monospace;
}

.container-cadastro{
    max-width: 380px;
    height: 480px;
    margin: 150px;
    padding: 50px;
    background-color: rgb(64, 210, 230);
    border-radius: 10px;
}
.container-cadastro form {
    margin-top: 50px;
}
.container-cadastro input{
    width: 350px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(161, 161, 161);
}

.container-cadastro button {
    width: 365px;
    height: 40px;
    background-color: rgb(153, 255, 36);
    text-align: center;
}
.container-cadastro button:hover {
    background-color: rgb(124, 231, 1);
}

.container-company ul li {
    margin-top: 70px;
    font-size: 20px;
    font-weight: 700;
}